* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: fixed;
    padding: 1rem;
    top: 0;
    z-index: 1;
    width: 100%;
}

body.dark nav {
    background-color: #000;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}


.logo p {
    margin-left: 1rem;
    margin-top: .5rem;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  transition: background 0.3s, color 0.3s;
}


body.light {
  background: #ffffff;
  color: #222;
}


body.dark {
  background: #121212;
  color: #f1f1f1;
}

.theme-toggle i {
  font-size: 22px;
  cursor: pointer;
  margin-left: 50rem;
}

.glimpse {
    margin-top: 9rem;
    text-align: center;
    margin: auto;
    margin-top: 12rem;
}
.glimpse h1 {
    font-size: 20px;
}


.glimpse p {
    margin-top: 1rem;
    font-size: 12px;
}

.hire {
    margin-top: 2rem;
}

.hire a {
    text-decoration: none;
    background: blue;
    padding: .8rem;
    color: #fff;
    border-radius: 10px;
}

.hire a i {
    transform: rotate(50deg);
    margin-left: 7px;
}

.projects {
    margin-top: 4rem;
}

.projectt {
    margin-top: 5rem;
}

.project1-img {
    text-align: center;
}

.project1-img img {
    width: 70%;
    margin: auto;
    background: #fff;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

body.dark .project1-img img {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
    background: #000;
}

.frameworks {
    display: flex;
    gap: 30%;
}

.frame {
    display: flex;
    gap: 6%;
    margin-top: 1rem;
}

.frame1 p {
    border: 1px solid #000;
    padding: .6rem;
    border-radius: 10px;
    margin-left: 10rem;
}

body.dark .frame1 p {
    border: 1px solid #fff;
}

body.dark .frame2 p {
    border: 1px solid #fff;
}

body.dark .frame3 p {
    border: 1px solid #fff;
}


.frame2 p {
    border: 1px solid #000;
    padding: .6rem;
    border-radius: 10px;
}

.frame3 p {
    border: 1px solid #000;
    padding: .6rem;
    border-radius: 10px;
}

.site {
    margin-top: 1.7rem;
}

.site a {
    text-decoration: none;
    background: #6a747458;
    color: #000;
    padding:  .7rem;
    border-radius: 10px;
}

body.dark .site a {
    background: #fff;
}

.copyright {
    margin-left: 7rem;
    margin-top: 3rem;
    margin-bottom: 7rem;
}

.copyright p {
    font-size: 11px;
}


.options {
    display: flex;
    background-color: #fff;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: .6rem;
    position: fixed;
    bottom: 0;
    z-index: 1;
    margin-top: 5rem;
    gap: 16%;
    width: 100%;
}

body.dark .options {
    background-color: #000;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}

body.dark #ress {
    background: #fff;
}

body.dark #portt {
    background: #fff;
}


.contact, .second-resume, .second-port, .second-contact {
    margin-left: 1rem;
    display: flex;
    background-color: transparent;
    cursor: pointer;
    transition: background-color 0.3s;
}

.about-text a:hover {
    color: blue;
    transition: 1s ease;
}

.about-text a {
    text-decoration: none;
    color: #000;
    margin-left: 8px;
}

body.dark .about-text a {
    color: #fff;
}

.projectt {
  opacity: 0;  
  transform: scale(0.9);
  transition: all 0.6s ease-out;
}

.show {
  opacity: 1;
  transform: scale(1);
}


@media (max-width: 800px) {
    nav {
        padding: 0;
        padding: .6rem;
    }

    .logo p {
        margin-left: 0;
    }
    
    .theme-toggle i {
        margin: 0;
        /* margin-left: 14.5rem; */
    }

    .hire a {
        font-size: 12px;
    }
    
    .glimpse h1 {
        font-size: 19px;
    }

    .glimpse p {
        line-height: 2.0;
    }
    
    .frame {
        gap: 2%;
        font-size: 10px;
    }
    
    .frameworks {
        gap: 10%;
    }
    
    .frame1 p {
        margin: 0;
        margin-left: 2.5rem;
    }
    
    .site {
        margin: 0;
        margin-top: 1.5rem;
    }
    
    .site a {
        font-size: 10px;
    }
    
    .options {
        gap: 0%;
        gap: 10%;
    }
    
    .about-text {
        display: none;
    }
    
    .about-img img {
        width: 50%;
    }
    
    #port .about-img img {
        width: 40%;
    }
}